.root {
  -fx-barchart-color: magenta;
  -fx-background-color: white;

}
.toggle-button {

}

.default-color0.chart-bar { -fx-bar-fill: -fx-barchart-color; }

.chart-plot-background {
    -fx-background-image: url("hockey_lighter.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.header {
-fx-padding: 15;
}

.header .label {
    -fx-font-size: 30;
}

.sideBar {
    -fx-padding: 15;
}

